/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif; */

p{
    color: rgb(80, 80, 80);
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

h1{
    color: rgb(87, 85, 83);
    font-family: 'Oswald', sans-serif;


}
h2{ color: rgb(87, 85, 83);
    font-family: 'Roboto Slab', serif; 
    

}
