body{
    background-color: rgb(43, 42, 42);
}

.contenedor{
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}
.holder{
    display: flex;

}

header{
    background-color: #8fa68e;
    padding: 20px;
}

nav{
    background-color: #C0392B;
    width: 30%;
}

main{
    background-color: #f7dc6f;
    width: 40%;
}

aside{
    background-color: #1abc9c;
    width: 30%;
}

nav ul li{
    list-style: none;
    padding: 10px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

footer{
    text-align: center;
    background-color: #CCC59E;

}

@media (max-width:480px){

    body{
        background-color: beige;
    }

    header{
        text-align: center;
    
    }

    .holder{
        flex-wrap: wrap;
    }

    nav{
        width: 100%;
        border-bottom: 3px solid black;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
    }

    main{
        width: 100%;
        padding:8px;
        border-bottom: 3px solid black;
    }

    aside{
        width: 100%;
        padding:8px;
        border-bottom: 3px solid black;
    }
}


