.contenedor{
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}


.rojo{
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 200px;

    
}

.azul{
    background-color: blue;
    width: 200px;
    height: 200px;

    
}

.verde{
    background-color: rgb(0, 255, 34);
    width: 200px;
    height: 200px;
    
    
    
}