.contenedor{
    background-color: gray;
    width: 60%;
    margin: 0 auto;
    height: 600px; 
    position: relative;
}

.verde{
    background-color: green;
    width: 90%;
    height: 150px;
    margin: 0 auto 20px;
    position: absolute; 
    top: 0;
    left: 0;
   
}

.celeste{
    background-color: rgb(41, 111, 177);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px ;

}

.amarillo{
    background-color:rgba(255, 255, 0, 0.774);
    width: 90%;
    height: 150px;
    margin: 0 auto 20px ;
}